/* Grid Container */
.grid {
    display: grid;
    }

    .item {
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
}
.grid {
max-width: 600px;
margin: 0 auto;
border: 1px solid #3c3a3a33;
}
h1 {
text-align: center;
font-size: 3em;
font-weight: normal;
}
body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #3a3737;
margin: 0px;
padding-bottom: 20px;
background-color: rgb(192, 185, 185);
}
body > div {
padding: 40px 0;
}
